.wrapper {
    display: flex;
    flex: 1;
    position: relative;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vh;
    background: url('https://i.pinimg.com/originals/a2/02/ff/a202ff44bf1c6d539eb954e916c796a2.jpg') bottom center;
    border: 0;
    opacity: .95;
}
  
.score {
    display: flex;
    background-color: rgb(165, 165, 165);
    margin: auto;
    width: 40%;
    min-width: 75vh;
    align-items: center;
    justify-content: center;
    border-radius: 2%;
    min-height: 10vh;
    border: .4rem solid black;
}

.key {
    border: 1vh solid black;
    border-radius: 1vh;
    margin: 2vh 2vh 2vh 2vh; 
    font-size: 3vh;
    padding: 1vh .5vh;
    width: 50vh;
    text-align: center;
    text-justify: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5vh black;
  }